footer
    .container.py-5.mt-5
        .row 
            .col-12.col.sm-12.col-md-6.de
                nav.nav.justify-content-center.justify-content-md-start
                    a(href="/nosotros", class="nav-link") Nosotros 
                    a(href="/paquetes", class="nav-link") Paquetes
                    a(href="/experiencias", class="nav-link") Experiencias
                    a(href="testimoniales", class="nav-link") Contactanos
            .col-12.col-sm-12.col-md-6.footeriz
                p.copyright.text-center.text-md-right.aling-items-center  
                    |TODOS LOS DERECHOS RESERVADOS 
                    span=  fechaActual