extends ../layout/index
block contenido 
    main.container.mt-5 
        .row 
            .col-md-6
                 img(src="img/logo.jpg", alt="Master Qualiti Cleanning LLC" class="img-fluid")
            .col-md-6 
                h1 #{pagina}
                p 
                    STRONG Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard
                    |  dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries
                p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries
        .listado-iconos     
            .container.mt-5.py-5.text-center
                .row    
                    .col-md-3
                        img(src="img/comercio-justo.png", alt="Master Qualiti confiables")
                        h2.mb-4 Responsabilidad     
                        p Somos una empresa seria donde la responsabilidad es nuestra carta de presentacion 
                    .col-md-3
                        img(src="img/precio.png", alt="Master Qualiti confiables")
                        h2.mb-4 Mejor Precio     
                        p Somos una empresa seria donde la responsabilidad es nuestra carta de presentacion 
                    .col-md-3
                        img(src="img/puntualidad.png", alt="Master Qualiti confiables")
                        h2.mb-4 Puntualidad     
                        p Somos una empresa seria donde la responsabilidad es nuestra carta de presentacion 